extends layout

block content
			.row
				.col-sm-3
					h2 This about page
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi perferendis perspiciatis, minima dicta, corporis, quae id dolor debitis quod quibusdam facere amet voluptatum cumque voluptates similique hic iste! Aspernatur.
				.col-sm-9
					h2 With its custom template
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea similique consequatur corporis eius qui! Nemo minus enim rem? Obcaecati quaerat possimus inventore nulla reprehenderit nostrum, veniam eos, incidunt necessitatibus qui!