extends layout

block content
    p= content
    br
    script.
        var name = "Rom" // Имя
        document.write("Hello," + " ", name);

        var lines = 5;
        var line = "";
        var  symbol = "*";
        var  cnt = 1;
        while (cnt <= lines){
            line += symbol;
            console.log(line);
            cnt++;
        }

        for (var i = 0; i < 10; i++) {
            console.log(i);
        }

