extends layout

block content
    p= content
    br
    script.
        var name = "Rom" // Имя
        document.write("Hello," + " ", name);


        var num = 2;
        var exp = 10;
        var result = 1;
        var cnt = 1;
        while (cnt <= exp) {
            (result *= num, cnt++)
        }
        console.log(result);