extends layout

block content
    p= content
    br
    script.
        var name = "Rom" // Имя
        document.write("Hello," + " ", name, '<br>');

        var lines = 5; //Цикл while
        var line = "";
        var symbol = "*";
        var cnt = 1;
        while (cnt <= lines) {
            line += symbol;
            console.log(line);
            cnt++;
        }

        var x = 1, y;
        if (x == 1)
            y = "One";
        else
            y = "zero";
        y = (x == 1) ? "One" : "Zero"; //Образец сокращения кода

        for (var i = 0; i < 10; i++) { // Цикл for
            if (i == 0)
                continue;
            //document.write(i + " - zero<br>");
            else if (i % 2 == 0)
                document.write(i + " - even<br>");
            else
                document.write(i + " - odd<br>");


        }
        var age = 17;  //Lab if
        var output = "";
        if (age >= 18 && age < 60) {
            output = "Вам ещё работать";
        }
        else if (age > 59) {
            output = "Вам пора на пенсию";
        }
        else if (age >= 1 && age <= 17) {
            output = "Вам в школу";
        }
        else {
            output = "Неизвесьный возоаст";
        }

        document.write(output, '<br>');


        for (var i = 322; i < 356; i++) {
            if (i % 3 != 0)
            continue; // Окончание цикла
                document.write(i, '<br>'); //Цикл "сортировки" данных.
             break; //Завершение и выход из цикла
        }
